.container  {
    width: 150px;
    margin: 0 auto;
    padding-top: 400px;
}

.spinner-image {
    text-align: center;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}